.App {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 10px;
  height: 100vh;
  background-color: #282c34;
  color: white;
}

.Camera {
  grid-column: 1/2;
  grid-row: 1/2;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.Current-Shoppers {
  grid-column: 2/3;
  grid-row: 1/2;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.Arming-Button {
  grid-column: 2/3;
  grid-row: 2/3;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.Inventory-List {
  grid-column: 1/2;
  grid-row: 2/3;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}